@font-face {
  font-family: "Lexend";
  src:
    local("Lexend"),
    url("./Lexend_font/Lexend_standard/lexend_light.woff2"),
    sans-serif;
  font-weight: 300;
}

@font-face {
  font-family: "Lexend";
  src:
    local("Lexend"),
    url("./Lexend_font/Lexend_standard/lexend_regular.woff2"),
    sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: "Lexend";
  src:
    local("Lexend"),
    url("./Lexend_font/Lexend_standard/lexend_bold.woff2"),
    sans-serif;
  font-weight: bold;
}

:root {
  --medium-blue: #2F2A85;
  --dark-blue: #1B184E;
  --white-grey: #ECECF9;
  --light-grey: #B3B3B3;
  --focus-blue: #4D45DB;

  --content-max-width: 1344px;
  font-size: 20px;
  font-family: 'Lexend';
  font-weight: normal;
  color: var(--dark-blue);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--medium-blue);
  display: flex;
  justify-content: center;
}

header a {
  color: var(--white-grey);
  font-size: 1rem;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: var(--content-max-width);
  margin-left: 1rem;
  width: 100%;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  margin: 32px 0 32px 0;
}

header nav a:hover {
  color: var(--light-grey);
  text-decoration: none;
}

header nav ul li {
  margin: 2rem;
}

h1 {
  font-weight: normal;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 1.6rem 0 1.6rem 0;
}

main>p,
main>h1 {
  max-width: 1072px;
}

footer {
  background-color: var(--medium-blue);
  color: var(--white-grey);
  display: flex;
  justify-content: center;
}

footer a {
  color: var(--white-grey);
}

#footer-content {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 4fr 6fr;
  grid-template-areas:
    'toute-ressemblance en-savoir-plus'
    'copyright copyright';
  column-gap: 1rem;
  row-gap: 4rem;
  margin: 4rem 1rem 4rem 1rem;
  max-width: var(--content-max-width);
}

#toute-ressemblance {
  grid-area: toute-ressemblance;
}

#en-savoir-plus-container {
  grid-area: en-savoir-plus;
}

#copyright {
  grid-area: copyright;
  text-align: center;
}
