@font-face {
  font-family: "Louis George Cafe";
  src:
    local("Louis\ George\ Cafe"),
    url("../POLICE/Louis\ George\ Cafe.ttf"),
    sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: "Louis George Cafe";
  src:
    local("Louis\ George\ Cafe"),
    url("../POLICE/Louis\ George\ Cafe\ Bold.ttf"),
    sans-serif;
  font-weight: bold;
}

@font-face {
  font-family: "Louis George Cafe";
  src:
    local("Louis\ George\ Cafe"),
    url("../POLICE/Louis\ George\ Cafe\ Light.ttf"),
    sans-serif;
  font-weight: light;
}

:root {
  --medium-blue: #333953;
  --dark-blue: #1B184E;
  --white-grey: #ECECF9;
  --light-grey: #B3B3B3;
  --focus-blue: #292929;

  --content-max-width: 1344px;
  font-size: 20px;
  font-family: 'Louis George Cafe';
  font-weight: normal;
  color: var(--dark-blue);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--medium-blue);
  display: flex;
  justify-content: center;
}

header a {
  color: var(--white-grey);
  font-size: 1.5rem;
}

header img{
  max-height: 50px;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: var(--content-max-width);
  margin-left: 1rem;
  width: 100%;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  margin: 10px 0 10px 0;
}

header nav a:hover {
  color: var(--light-grey);
  text-decoration: none;
}

header nav ul li {
  margin: 1rem;
}

h1 {
  font-weight: normal;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

main>p,
main>h1 {
  max-width: 1072px;
}

footer {
  background-color: var(--medium-blue);
  color: var(--white-grey);
  /* display: flex;
  justify-content: center; */
  text-align: center;
  height: 20vh;
  padding: 4vh 10vw;
  font-size: 0.9rem;
}

footer a {
  color: var(--white-grey);
}


#copyright {
  grid-area: copyright;
  text-align: center;
  margin-top: 4vh;
  font-size: 0.6rem;
}
