#main-content-web {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
}

#main-content-web h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

canvas {
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

#bouttons{
    display: flex;
    justify-content: space-around;
    column-gap: 4vw;
}

#bouttons button{
    width: 100px;
    margin-top: 2vh;
    font-family:"Louis George Cafe" ;
    font-weight: bold;
    padding: 4%;
    font-size: 1.3rem;
    border-radius: 10px;
    border: solid var(--dark-blue) 2px;
    color:white;
    background-color:var(--medium-blue);
    cursor: pointer;
}

#titre-cpt{
    font-size: 1.3rem;
}
#palette-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 5vw;
    margin-left: 5vw;
    margin-bottom: 4.5vh;
}

#palette-titre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre-mode{
    font-size: 1.5rem;
    font-weight: bold;
}

#palette{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#concepts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#concepts-container p{
    font-size: 1rem;
}

#concepts-container #whichConcepts{
    margin-bottom: 2vh;
    font-size: 1.3rem;
}


#mode-container{
    display: flex;
    justify-content: space-evenly;
    max-width: 60vw;
}

#mode-container label{
    font-size: 1.1rem;
}

.palette-container p{
    margin-bottom: 5%;
}

.evaluation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 5vw;
}




.slider-container{
    display: grid;
    grid-template-columns: 11vw 25vw 11vw;
    margin:1.2% 0 1.5% 0;
    align-items: center;
    font-size: 1.2rem;
}


.text-left{
    text-align: right;
    margin-right: 2vw;
}
.text-right{
    text-align: left;
    margin-left: 2vw;
}


input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25vw; 
    height: 3px;
    background: black;
  }
  
  
input[type="range"]::-webkit-slider-thumb {
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
width: 2.5vw;
height:2.5vh;
background: black;
border-radius: 10px;
cursor: pointer;
}

#mode-container{
margin: 0 0 5vh 0;
padding-left: 10px;
font-size: 1.2rem;
}

#color-mode-container input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position:sticky;
    top: 4px;
}
#form-mode-container input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position:sticky;
    top: 4px;
}

#form-mode-container input:checked {
border: 6px solid #999;
}
#color-mode-container input:checked {
border: 6px solid #999;
}

#color-mode-container{
    max-width: 20vw;
}
#form-mode-container{
    display: flex;
    flex-direction: column;
    max-width: 35vw;
}


  

@media screen and (min-width: 950px) {

    canvas{
        max-width: 450px;
        max-height: 450px;
    }

    #main-content-web {
        font-size: 1.3rem;
        flex-direction: row;
        align-items:center;
        justify-content: center;
    }
} 