#main-content-web {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 1rem 2rem 1rem;
    align-items: center;
}

#main-content-web h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

canvas {
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
}

@media screen and (min-width: 480px) {

    canvas{
        max-width: 450px;
        max-height: 450px;
    }

    #main-content-web {
        font-size: 1.6rem;
        flex-direction: row;
        align-items:start;
        justify-content: center;
    }
    /* .palette-container{
        flex-direction: row;
        align-items: start;
    }
} */

#bouttons{
    display: flex;
    column-gap: 5vw;
}

#bouttons button{
    margin-top: 2vh;
    font-family:"Louis George Cafe" ;
    font-weight: bold;
    padding: 2%;
    font-size: 1rem;
    border-radius: 10px;
    color:white;
    background-color:var(--focus-blue);
    cursor: pointer;
}

#palette-titre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#palette{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#concepts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.palette-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 5vw;
}

.palette-container p{
    margin-bottom: 5%;
}

.evaluation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 5vw;
}




.slider-container{
    display: grid;
    grid-template-columns: 10vw 35vw 10vw;
    margin-bottom: 5%;
    align-items: center;
}


input[type="range"] {
    appearance: none;
    width: 30vw; 
    height: 0.5vh;
    background: black;
  }
  
  
input[type="range"]::-webkit-slider-thumb {
appearance: none;
width: 2.5vw;
height:2.5vh;
background: black;
border-radius: 10px;
cursor: pointer;
}

#color-mode-container{
margin: 10px;
font-size: 1.2rem;
}

#color-mode-container input {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
}

input:checked {
border: 6px solid black;
}
  